$wissalstore-primary-color: (
  50 : #e5f1f8,
  100 : #bddbee,
  200 : #92c3e3,
  300 : #66abd8,
  400 : #4599cf,
  500 : #2487c7,
  600 : #207fc1,
  700 : #1b74ba,
  800 : #166ab3,
  900 : #0d57a6,
  A100 : #d4e7ff,
  A200 : #009DCC,
  A400 : #6eaeff,
  A700 : #55a0ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$wissalstore-warn-color: (
  50 : #ffe2e4,
  100 : #ffb6bd,
  200 : #ff8591,
  300 : #ff5464,
  400 : #ff2f43,
  500 : #ff0a22,
  600 : #ff091e,
  700 : #ff0719,
  800 : #ff0514,
  900 : #ff030c,
  A100 : #ffffff,
  A200 : #fff2f2,
  A400 : #ffbfc0,
  A700 : #ffa6a7,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$wissalstore-dark-color: (
  50 : #e0e6e9,
  100 : #b3c1c8,
  200 : #8098a3,
  300 : #4d6f7e,
  400 : #265063,
  500 : #003147,
  600 : #002c40,
  700 : #002537,
  800 : #001f2f,
  900 : #001320,
  A100 : #5daaff,
  A200 : #2a8fff,
  A400 : #0074f6,
  A700 : #0068dc,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);



